* {
  box-sizing: border-box;
}


body {
  background-color: darkslategray;
  text-align: center;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

main{
  display: flex;
  justify-content: space-evenly;
}

.cpuSide {
  margin: 0px 0px -15px 0px;
  color: rgb(63, 34, 0);
  font-weight: bold;
}


.playerSide {
  margin: -15px 0px 0px 0px;
  color: rgb(63, 34, 0);
  font-weight: bold;
}

.cup {
  background-color: red;
  border-radius: 50%;
  border: 2px solid snow;
  height: 40px;
  width: 40px;
}

.pick:hover {
  background-color: firebrick;
  box-shadow: 3px 3px white ;

}

.wash:hover {
  background-color: cyan;
}

.watercup {
  background-color: skyblue;
  border-radius: 50%;
  border: 2px solid azure;
  height: 40px;
  width: 40px;
  margin: 0px 30px;
}

.cpuBall {
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 6px 0px 0px 1px;
}

.playerBall {
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 19px 0px 0px 16px;
}

.yourTurn {
  position: relative;
  left: 45px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(165, 42, 42, 1);
  margin: -16px 0px 0px -15px; /*opacity is set here*/
}

section.CPUSide-container {
  height: 160px; 
  width: 160px;
  /* background-color: blue; */
}

section.cpu-water-placement{
  display: flex;
  align-self: flex-end;
  position: relative;
    bottom: 45px;
}

section.player-water-placement {
  display: flex;
  align-self: flex-start;
  position: relative;
  top: 45px;
}

section.playerSide-container {
  /* display:flex;
  justify-content: center; */
  height: 160px; 
  width: 160px;
  /* background-color: chartreuse; */
}

.table-styling {
  height: 500px;
  width: 300px;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.CPU-r2 {
  display: flex;
  justify-content: center;
}
.CPU-r3 {
  display: flex;
  justify-content: center;
}
.CPU-r4 {
  display: flex;
  justify-content: center;
}
.CPU-r1 {
  display: flex;
  justify-content: center;
}

.player-r1 {
  display: flex;
  justify-content: center;
}
.player-r2 {
  display: flex;
  justify-content: center;
}
.player-r3 {
  display: flex;
  justify-content: center;
}
.player-r4 {
  display: flex;
  justify-content: center;
}

/* #p1 {
  background-color:firebrick;
}  tested to see if i manipulated by ID would it overwrite color-- it does */